<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class=" container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                </ul>
               <div class="navbar-form navbar-right">
                @using (Html.BeginForm("Search", "Auther"))
                {
               
                    @Html.TextBox("Name", "")
                    <br />
                    <input type="submit" value="Submit TextBox" />

                }
                </div>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")

                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr /> 
        <footer class="container-fluid bg-4 text-center " style=" background-color: black;
  color: #ffffff; padding-bottom:30px; padding-top:30px ">
            <p>
               Copy Rights : IA Team
                <br />for source Code : <a href="#">GitHub</a>
            </p>
        </footer>

    </div>
    <!--Footer-->
   


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

   
</body>

</html>
